@mixin listModifiers {
    &.horizontal {
        flex-direction: row;
    }

}

.list {
    display: flex; 
    flex-direction: column;  
    @include listModifiers;
 
    &__container {
        display: flex; 
        flex-direction: column;  
        @include listModifiers;
    }

}