
@keyframes toggleDown {
    from {
      max-height: 0px;
    }
  
    to {
      max-height: calc(100vh - 300px);
    }
  }


  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }