@use 'sass:list'; 

@mixin box-shadow($sides, $size: 10px, $spread: calc($size / 2), $blur: calc($size + $spread)) { 
    $shadows: (); 
    $sidesMap: (
        'top': (0px $size $blur $spread), 
        'bottom': (0px (-$size) $blur $spread), 
        'left': ($size 0px $blur $spread), 
        'right': ((-$size) 0px $blur $spread),  
        'inset-top': (inset 0px $size $blur $spread), 
        'inset-bottom': (inset 0px (-$size) $blur $spread), 
        'inset-left': (inset $size 0px $blur $spread), 
        'inset-right': (inset (-$size) 0px $blur $spread), 
    );
 
    @each $side, $color in $sides { 
        $shadows: list.append($shadows, list.join(map-get($sidesMap, $side), $color), $separator: comma);
    }                
   
    box-shadow: $shadows;
    -webkit-box-shadow: $shadows;               
    -moz-box-shadow: $shadows;
}