:root {
    --head-color: rgba(0, 208, 255, 1); 
    --middle-color: rgba(252, 148, 3, 1);
    --foot-color: rgba(136, 3, 252, 1);

    --font-title: 'Bubblegum Sans';
    --font-text: 'Roboto';
    --font-middle: 'Fuzzy Bubbles';


    --bg-image: url('../Assets/background.png'); 

    --max-layout-width: 1200px;
  }