:root {
    --head-color: rgba(0, 208, 255, 1); 
    --middle-color: rgba(252, 148, 3, 1);
    --foot-color: rgba(136, 3, 252, 1);

    --font-title: 'Bubblegum Sans', Helvetica, sans-serif;
    --font-text: 'Roboto', Helvetica, sans-serif;
    --font-middle: 'Fuzzy Bubbles', Helvetica, sans-serif;


    --bg-image: url('../Assets/bg.png'); 

    --max-layout-width: 1200px; 
    --free-margins-width: calc(50vw - var(--max-layout-width) / 2 + 0px);
  }