.content { 
    padding: 48px 16px;
    gap: 48px;

    @media(min-width: 950px) {
        padding: 24px 60px;
        gap: 60px;
    }

    @media(min-width: 769px) {
        padding: 48px 32px;
        gap: 32px;
    }
}