.dialogs {
    position: fixed;
    left: var(--free-margins-width);
    right: var(--free-margins-width);
    bottom: 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    color: black;
    z-index: 99999999;
}


.cookies { 
    background-color: white;
    width: 100%;
    padding: 60px 20px;
}

.toasts { 
    display: none;
    flex-direction: column;
    gap: 12px;

    & + .cookies {
        background-color: red;
    }

    &__item {
        background-color: white;
        padding: 16px 32px;
        border-radius: 32px;
        border: 2px solid rgba(71, 71, 71, 1);
    }
}