@import '../../Styles/Mixins/AppLayout.scss';
.header {
    position: relative;
    max-width: var(--max-layout-width);
    background-color: var(--head-color);
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 8px 0 8px; 
    @include SpillBackground;

    @media(min-width: 500px) {
        padding: 0 12px 0 12px;
    }

    @media(min-width: 768px) {
        padding: 0 0 0 16px;
    }

    @media(min-width: 1024px) {
        padding: 0 0 0 24px;
    }

    @media(min-width: 1200px) {
        padding: 0 0 0 32px;
    }

    
    &__icon {
        cursor: pointer; 

        @media(min-width: 769px) {
            display: none;
        }
    }

    &__nav { 
        flex: 1;  
        display: flex;
        justify-content: flex-end; 

        @media(max-width: 768px) {
            background-color: inherit;
            position: absolute;
            top: 100%; 
            flex-direction: column; 
            left: 0;
            right: 0;
            box-shadow: inset 0px 2px 24px 5px rgba(0, 0, 0, .5);
            z-index: -1;
            animation: toggleDown .3s linear;

            &:not(.open) {
                display: none;
            }
        }

        &-item {
            text-decoration: none;
            font-family: var(--font-middle);
            padding: 48px 24px;
            color: rgba(255, 255, 255, 1);
            font-size: 20px;
            font-weight: 400;
            text-shadow: 1px 1px rgba(71, 71, 71, 1);
            transition: all 0.3s linear;
            background-color: rgba(0,0,0,.075);
            white-space: nowrap;
            border-bottom: 1px solid rgba(255, 255, 255, .3);

            @media(min-width: 769px) {
                border-bottom: none;
                border-left: 1px solid rgba(255, 255, 255, .3);

                &:first-child {
                    border-left: 1px solid rgba(255, 255, 255, .75);
                }
            }

            &:hover {
                background-color: var(--foot-color);
                box-shadow: inset 0px 2px 24px 5px rgba(0, 0, 0, .5);
            }

        }


    }
}