@mixin OverlayInside {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
}

@mixin SpillBackground {
    position: relative;
    
    &::before {
        content: ''; 
        position: absolute;
        background-color: inherit;  
        left: calc(var(--free-margins-width) * -1); 
        right: calc(var(--free-margins-width) * -1); 
        top: 0;
        bottom: 0;
        z-index: -1; 
    }
  
    &::after {
        content: '';
        z-index: -1; 
        background-color: inherit;   
        @include OverlayInside;
    }
 
    &:first-child {
        &::after {
            box-shadow: 0px 3px 10px -3px rgba(71, 71, 71, .7);
        }

        &::before {
            border-bottom: 2px solid rgba(255, 255, 255, 1);
        }
    }

    &:last-child {
        &::after {
            box-shadow: 0px -3px 10px -3px rgba(71, 71, 71, .7); 
        }
    
        &::before {
           border-top: 2px solid rgba(255, 255, 255, 1);
        }
    }
}

@mixin sidePadding {
    & > :first-child {
        padding-left: 8px;
        @media(min-width: 500px) {
            padding-left: 12px;
        }

        @media(min-width: 769px) {
            padding-left: 24px;
        }

        @media(min-width: 1200px) {
            padding-left: 60px;
        }
    }

    & > :last-child {
        padding-right: 8px;

        @media(min-width: 500px) {
            padding-right: 24px;
        }

        @media(min-width: 769px) {
            padding-right: 16px;
        }

        @media(min-width: 1200px) {
            padding-right: 60px;
        }

    }
}